# dbt build artifacts
target/

# Logs
logs/
*.log

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env
airflow_venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data output
data/
