# dbt build artifacts and packages
target/
dbt_packages/
package-lock.yml

# Logs
logs/
*.log

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env
airflow_venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data output
data/
